.options_popup {
    width: 496px;
}

.history_side_popup {
    min-width: 400px;
}

.bulk_copy_side_popup {
    width: 496px;
}

@media only screen and (max-width: 1510px) {
    .work_folder_fieldset {
        width: calc(100% - 300px);
    }

    .theme_metadata_and_theme_fieldset_w {
        padding-left: 150px;
        padding-right: 150px;
    }
}
