.ordinary_color_input:nth-child(odd) .ordinary_color_input_inner, .ordinary_color_input:nth-child(odd) .ordinary_color_input_inner:after, .ordinary_color_input:nth-child(odd) .help, .ordinary_color_input:nth-child(odd) .help:after {
    background-color: #e8e8e8;
}