/*> general */
@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-Light.ttf');
}

* {
	font-size: 17px;
	font-family: Roboto;
}

*, .legend_color_unactive, .er_msg, .header_btn:hover:focus, .header_btn:hover:focus label {
    color: white;
}

::-webkit-scrollbar {
    width: 17px;
    background-color: #3c3c3c;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border-left: 5px solid #3c3c3c;
    border-right: 5px solid #3c3c3c;
    background-color: #fbff75;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #77ff6f;
}

::-webkit-scrollbar-thumb:active {
    background-color: #f493ff;
}

body {
    margin: 0 0 16px 16px;
    overflow-x: hidden;
}

body, .btn, .option, .legend_line, .fieldset_w .cover, .popup {
    background-color: #212121;
} 

.fieldsets {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

fieldset:not(.work_folder_fieldset) > div, .popup {
    padding: 12px;
}

fieldset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

fieldset:not(.theme_metadata_fieldset) {
    height: calc(100vh - 76px);
}

fieldset:not(.work_folder_fieldset) > div {
    padding-top: 22px;
    max-height: calc(100vh - 112px);
    min-width: 300px;
    overflow: auto;
}

.theme_metadata_fieldset > div {
    overflow: unset;
}

.fieldset_w {
    position: relative;
    margin-top: 20px;
}

.fieldset_w {
    margin-right: 16px;
}

.fieldset_w .cover {
    height: 20px;
    width: calc(100% - 20px);
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
}

.legend {
    position: absolute;
    margin-left: 13px;
    margin-top: -14px;
    font-size: 24px;
    padding-left: 7px;
    padding-right: 6px;
    z-index: 2;
}

.legend_line {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 25px;
    right: 0;
    margin-top: -11px;
    z-index: -1;
}

hr {
    display: inline-block;
    width: 100%;
    border: none;
    height: 1px;
    margin-bottom: 6px;
}

.hr {
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hr:first-child {
    margin-top: 0;
}

.hr_text {
    font-size: 22px;
    margin-left: 6px;
    margin-right: 6px;
}

.help_link, .folder_arrow, .folder_icon, .folder_name, .work_folder_path, .er_close_btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.folder_arrow, .folder_icon, .folder_name, .work_folder_path, .er_close_btn, body.using_mouse .help_link {
    outline: none;
}

body.using_mouse .help_link:focus {
    margin-left: 0;
}

.help_link:focus {
    outline: 1px solid #3892ff;
    margin-left: 1px;
}

a, .help_link {
    display: table;
    text-decoration: none;
}

a, .help_link, .upload_box_browse_label {
    color: #fbff75!important;
}

a:hover, .help_link:hover, .upload_box_browse_label:hover {
    color: #77ff6f!important;
}

a:active, .help_link:active, .upload_box_browse_label:active {
    color: #f493ff!important;
}

.btn {
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    white-space: nowrap;
}

body.using_mouse .btn:focus, body.using_mouse .checkbox_checkmark_w:focus, body.using_mouse .color_input_vizualization:focus {
    box-shadow: none;
}

.btn:hover, .option:hover, .header_btn:active {
    background-color: #fbff75!important;
}

.btn:active {
    background-color: #f493ff!important;
}

.btn:hover, .option:hover, .header_btn:hover, .header_btn:hover label, .header_btn:active, .header_btn:active label, .selected_folder {
    color: #212121;
}

textarea {
    resize: none;
    overflow-y: auto;
    max-height: 206px;
    display: block;
}

textarea:focus, .select_w:focus, .btn:focus, .color_input_vizualization:focus, .popup, .checkbox_checkmark_w:focus {
    outline: none;
    box-shadow: 0 0 5px #fbff75;
    border: 1px solid #fbff75;
}

textarea, .btn {
    height: 28px;
    overflow: hidden;
}

textarea, .select_title, .option  {
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.input_label {
    margin-bottom: 4px;
    display: block;
}

.input:not(.tall_color_input):not(:first-child), .input:not(.tall_color_input):not(:first-child) > .ordinary_color_input_inner {
    margin-top: 10px;
}

.img_selector_box > span:not(:last-child), .color_input_label, .ordinary_color_input .color_input_vizualization, .img_selector_checkbox_w:not(:last-child) {
    margin-right: 12px;
}

hr, .color_input_vizualization, .color_ok_btn, .header_btn:hover, body.using_mouse .header_btn:hover:focus, body.using_mouse .color_ok_btn:focus  {
    background-color: white;
}

textarea, .btn, body.using_mouse .btn:focus, body.using_mouse .checkbox_checkmark_w:focus, body.using_mouse .color_input_vizualization:focus, .select_w, .checkbox_checkmark_w, .select_title {
    border: 1px solid white;
}

textarea, .select_w, .checkbox_checkmark_w {
    background-color: transparent;
}

.color_input_vizualization {
    position: relative;
    height: 18px;
    width: 30px;
    vertical-align: bottom;
    border: solid 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.color_pickier_w {
    z-index: 2;
    position: absolute;
}

.color_ok_btn {   
    top: 283px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
    border: none;
    font-size: 14px;
    height: 21px;
    cursor: pointer;
    outline: none;
    vertical-align: top;
}

.color_ok_btn:hover, .color_ok_btn:focus, body.using_mouse .color_ok_btn:hover:focus, .header_btn:focus {
    background-color: #3892ff;
}

.flexbox-fix input, .color_ok_btn {
    color: #222222;
}

.sketch-picker {
    border-radius: 0!important;
}

.help, .counter {
    margin-top: 5px;
    font-size: 14px;
}

.counter {
    float: right;
}

svg {
    display: block;
    cursor: pointer;
}

svg, .header_btn:hover:focus svg, body.using_mouse .folder_arrow:focus svg {
    fill: white
}
/*< general */

/*> header */
header {
    position: fixed;
    z-index: 3;
    top:0;
    left: 0;
    width: 100%;
    background-color: #70c34c;
    display: flex;
    justify-content: space-between;
}

header span, header label, header .open_in_chrome_btn {
    font-size: 20px;
}

.header_section {
    display: flex;
    overflow: hidden;
}

.header_right {
    flex-shrink: 0;
}

.header_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.current_theme_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header_btn, .current_theme_name {
    padding: 8px;
}

.header_btn label {
    cursor: pointer;
}

.header_btn:hover, .header_btn:hover svg, body.using_mouse .header_btn:hover:focus svg {
    fill: #212121;
}

.header_btn:active, .header_btn:active label, body.using_mouse .header_btn:hover:focus, body.using_mouse .header_btn:hover:focus label {
    color: #212121!important;
}

.header_btn:active svg {
    fill: #212121!important;
}

.new_theme_btn {
    white-space: nowrap;
}

.pack_btn, .new_theme_btn {
    display: inline-flex;
}

.pack_btn_icon, .new_theme_btn_icon {
    margin-right: 5px;
}

.header_btn_icon svg {
    width: 24px;
    height: 24px;
}
/*< header */

/*> work_folder */
.work_folder_fieldset_w .legend {
    color: white!important;
}

.work_folder_selector, .work_folder_message {
    margin-left: 12px;
}

.work_folder_selector {
    position: absolute;
    top: 22px;
    z-index: 1;
    width: calc(100% - 24px);
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.choose_work_folder_btn {
    flex-shrink: 0;
}

.work_folder_path {
    margin-left: 10px;
}

.work_folder_path, .folder_name, .folder_inner {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.work_folder_path:focus, .folder_name:focus {
    box-shadow: inset 0 0 0 1px #fbff75;
}

body.using_mouse .work_folder_path:focus, body.using_mouse .folder_name:focus {
    box-shadow: none;
}

.work_folder_message {
    top: 60px;
    position: absolute;
}

.work_folder_fieldset_w {
    flex-grow: 1;
}

.work_folder_fieldset {
    min-width: 500px;
    width: 100%;
    box-sizing: border-box;
    border-color: white!important;
}

.work_folder_fieldset > div {
    overflow: unset;
    height: calc(100vh - 78px);
}

.folder_w, .folder, .folder_inner {
    display: flex;
}

.folder {
    align-items: center;
    width: 100%;
}

.folder_inner {
    cursor: pointer;
}

.folder_arrow {
    margin-right: 5px;
}

.folder_icon {
    margin-right: 5px;
}

.folder_arrow svg {
    width: 18px;
    height: 18px;
}

.folder_arrow:focus svg {
    fill:#fbff75;
}

.folder_icon svg {
    width: 24px;
    height: 24px;
}

.folder_icon_theme svg {
    fill: #3892ff;
}

.folder_arrow_placeholder {
    margin-left: 23px;
}

.work_folder_path, .folder_name {
    padding: 3px 6px 3px 6px;
}

.work_folder_path:empty {
    padding: 0;
}

.ReactVirtualized__Grid {
    overflow: auto!important;
}
/*< work_folder */

/*> help */
.help {
    display: inline-table;
}

.help_link, .help_message {
    font-size: 14px;
}

.select_input .help {
    margin-top: 33px;
}

.help_message {
    margin-top: 4px;
}

.help_message {
    margin-bottom: 0;
}
/*< help */

/*> imgage selector inputs */
.img_selector_box {
    display: flex;
}

.img_selector_input_label {
    margin-bottom: 8px;
}

.upload_box {
    height: 30px;
    border: 2px dashed white;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d7daf;
}

.upload_btn {
    display: none;
}

.upload_box_what_to_do_message {
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    white-space: nowrap;
}

.upload_box_what_to_do_message label {
    font-size: 19px;
}

.upload_box_browse_label {
    cursor: pointer;
    font-weight: bold;
}

.upload_box_browse_label:focus {
    outline: 1px solid #fbff75;
}

body.using_mouse .upload_box_browse_label:focus {
    outline: none;
}

.tall_color_input_vizualization {
    height: 32px;
}
/*< imgage selector inputs */

/*>1 checkboxes */
.img_selector_box .img_selector_checkbox_w {
    align-items: center;
    display: flex;
}

.checkbox:checked + .checkbox_checkmark_w svg {
    opacity: 1;
}

.checkbox + .checkbox_checkmark_w svg {
    opacity: 0;
}

.checkbox {
    display: none;
}

.checkbox_checkmark_w {
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.checkbox_checkmark_w svg {
    margin-top: 1px;
    margin-left: 1px;
    width: 14px;
    height: 14px;
}

.checkbox_label {
    margin-right: 8px;
    margin-top: -2px;
    display: inline-block;
}
/*<1 checkboxes */

/*> selects */
.select_input {
    height: 50px;
    position: relative;
    display: table;
    width: 100%;
}

.select_w:focus {
    z-index: 2;
}

.select_w {
    border-bottom: none;
    box-shadow: none;
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.select_w:focus > .select_title {
    box-shadow: 0px 1px 5px -1px #fbff75;
    border-bottom: 1px solid #fbff75;
}

.select_w > .select {
    display: none;
}

.select_w:focus > .select {
    position: static;
    display: block;
}

.select_title:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: 11px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: white transparent;
}

.select_w:focus > .select_title:after {
    border-color: #fbff75 transparent;
}

.select_title {
    height: 27px;
    line-height: 26px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    border-width: 0 0 1px 0;
}

.select {
    list-style-type: none;
    margin: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
    padding-left: 1px;
    padding-right: 1px;
}

.option {
    min-height: 25px;
    line-height: 24px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    cursor: default;
    margin-left: -1px;
    width: calc(100% + 2px);
}
/*< selects */

/*> popup */
.popup {
    position: fixed;
    top: 90px;
    right: 50px;
    min-width: 300px;
    box-shadow: 0 0 15px #fbff75;
    z-index: 2;
}

.close_btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 8px;
    right: 8px;
    padding: 0;
    outline: none;
}

.close_btn svg {
    width: 18px;
    height: 18px;
}

.bottom_link:not(:first-child) {
    margin-top: 8px;
}
/*< popup */

/*> protecting screens */
.protecting_screen, .fieldset_protecting_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    top: 0;
    left: 0;
}

.fieldset_protecting_screen {
    position: absolute;
    z-index: 1;
}
/*< protecting screens */

/*> ordinary color inputs */
.colors_and_tints_input_block, .ordinary_color_input {
    width: fit-content;
}

.color_input_label {
    margin-bottom: 0;
    flex-grow: 1;
}

.ordinary_color_input_inner {
    display: flex;
}
/*< ordinary color inputs */

/*> error */
.err {
    position: fixed;
    bottom: 0px;
    left: 0;
    background-color: #da4747;
    width: 100%;
    z-index: 2147483647;
}

.er_msg {
    white-space: pre-wrap;
    text-align: center;
    padding: 10px;
    padding-top: 35px;
}


.er_close_btn {
    position: absolute;
    top: 7px;
    right: 7px;
}

.er_close_btn svg {
    height: 20px;
    width: 20px;
}

.reload_ui_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*< error */

body.using_mouse .header_btn:focus {
    background-color: transparent;
}

/*> transitions */
.checkbox_checkmark_w, .checkbox_checkmark_w svg, a, .help_link, .upload_box_browse_label, .btn, textarea, .select_w, .select_title, .color_input_vizualization, .protecting_screen, .fieldset_protecting_screen, .selected_folder, .popup, .upload_box, fieldset, .legend, .color_pickier {
    transition: all 0.2s ease-out;
}

.checkbox_checkmark_w svg, .protecting_screen, .fieldset_protecting_screen, .popup, .color_pickier {
    transition-property: opacity;
}

a, .help_link, .upload_box_browse_label, .legend {
    transition-property: color;
}

.btn, .color_input_vizualization {
    transition-property: color, background-color, border-color, box-shadow;
}

textarea, .select_w, .select_title, .checkbox_checkmark_w {
    transition-property: border-color, box-shadow;
}

fieldset {
    transition-property: border-color;
}

.upload_box {
    transition-property: background-color;
}

.selected_folder {
    transition-property: background-color, color;
}

a:active, .help_link:active, .upload_box_browse_label:active, .btn:active {
    transition: none;
}
/*< transitions */

/*> mods */
.none {
    display: none;
}

.selected_folder, .er_highlighted {
    background-color: #fbff75;
}

.er_highlighted .er_msg {
    color: #212121;
}   

.er_highlighted .er_close_btn svg {
    fill: #212121
}

.char_limit_exceeded_textarea {
    background-color: #943737;
}

.char_limit_exceeded_counter {
    color: #ff7878;
}
/*< mods */

/*> Tr mods */
.opacity_0 {
    opacity: 0;
}

.opacity_1 {
    opacity: 1;
}

.upload_box_background_unactive {
    background-color: #5d7daf;
}

.upload_box_background_active {
    background-color: #3b6ab5;
}

.fieldset_border_color_unactive {
    border: 1px solid white;
}

.fieldset_border_color_active {
    border: 1px solid #333333;
}

.legend_color_active {
    color: #474747;
}
/*< Tr mods */

.help_message {
    display: none;
}